#dashboardCont{
    display: grid;

    grid-auto-rows: 100%;
    grid-auto-columns: 100%;

    width: 100%;
    height: 93%;
}

#dashboardCont__section{
    display: grid;

    grid-column: 1/2;
    grid-row: 1/2;

    grid-auto-rows: 100%;
    grid-auto-columns: 12.5%;

    width: 100%;
    height: 100%;
}

#dashboardCont__section__middle{
    grid-row: 1/2;
    grid-column: 3/7;
    
    width: 100%;
    height: 90%;
    margin-top: 10%;

    border-left: 2px solid #F8DDF8;
    border-right: 2px solid #F8DDF8;

    /* overflow-y: scroll; */
}

#dashboardCont__section__left{
    display: flex;
    justify-content: space-evenly;

    grid-column: 7/9;
    grid-row: 1/2;

    padding-top: 5vh; 
}
#dashboardCont__section__left__clientBut,#dashboardCont__section__left__ticketsBut{
    width: fit-content;
    height: 2rem;
    padding: 0 0.3rem 0 0.3rem;

    border: none;
    border-radius: 0.75rem;
    border: 3px solid #3A51FF;

    box-shadow: 0 0 0 0 inset #00129D;
    background-color: transparent;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    cursor: pointer;
    transition: 0.2s;
}
#dashboardCont__section__left__clientBut:hover,#dashboardCont__section__left__ticketsBut:hover{
    padding: 0 0.7rem 0 0.7rem;

    border: none;
    border-radius: 0.5rem;
    border: 3px solid #00129D;

    background-color: #B8C0FF;
    box-shadow: 0 0 2rem inset #B8FFE8;
}
#dashboardCont__section__left__clientBut:focus,#dashboardCont__section__left__ticketsBut:focus{
    padding: 0 0.4rem 0 0.4rem;

    border: none;
    border-radius: 0.25rem;
    border: 3px solid #FF50FF;

    background-color: transparent;
    box-shadow: 0 -2rem inset transparent;
}


#dashboardCont__back1{
    grid-column: 1/2;
    grid-row: 1/2;

    display: grid;
    grid-auto-rows: 100%;
    grid-auto-columns: 100%;
    
    width: 100%;
    height: 100%;

    background-color: #d1d3e680;

    z-index: 1;
}

#backCancel{

    grid-column: 1/2;
    grid-row: 1/2;

    width: 100%;
    height: 100%;
}
#backCancel > svg{
    margin: 1rem;
    font-size: 1.5rem;

    cursor: pointer;
    transition: 0.2s;
}
#backCancel > svg:hover{
    color: #A800A8;
}

@media screen and (max-width:768px) {
    
    #dashboardCont__section{
        display: flex;
        flex-direction: column;

        width: 100%;
        height: fit-content;
    }


    #dashboardCont__section__middle{
        grid-row: 1/2;
        grid-column: 3/7;
        
        width: 100%;
        height: 90%;
        margin-top: 10%;
    
        border-left: 2px solid #F8DDF8;
        border-right: 2px solid #F8DDF8;
    }

    #dashboardCont__section__left{
        display: flex;
        justify-content: space-evenly;
    
        grid-column: 7/9;
        grid-row: 1/2;
    
        padding-top: 5vh; 
    }

}