


/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3e007147;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #150050;
  border-radius: 0.5vw;

  transition: 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f0071;
  transition: 0.5s;
}
/*Scrollbar*/
